.cls-table {
    td, th {
        border: 1px solid #b1afaf;
        text-align: center;
        padding: 10px;
    }

    thead{
        background-color: #000000;
        color: #fff;
    }

    .cls-img {
        width: 100px;
        height: 100px;
        border: 1px solid #000;
        border-radius: 50%;
    }
    .cls-name {
        width: 200px;
    }
    .cls-id {
        width: 100px;
        text-align: center;
    }
    .cls-row{
        height: 100px;
    }
    .cls-thead{
        text-align: center;
    }
}
