<h1 class="mt-5">Listado Pokémon</h1>


<div class="mt-5">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Buscar Pokémon</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
            #txtSearch (keyup)="onSearchPokemon(txtSearch.value)">
    </div>

    <table class="table table-borderless table-condensed table-hover cls-table">
        <thead class="text-center cls-thead">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Sprite</th>
            </tr>
        </thead>
        <tbody *ngFor="let poke of pokemons | filtro: page : search">
            <tr class="cls-row">
                <th scope="row" class="cls-id">{{poke.id}}</th>
                <td class="cls-name">{{poke.name}}</td>
                <td>
                    <img [src]="poke.pic" [alt]="poke.name" class="cls-img">
                </td>
            </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <button class="btn btn-primary" href="#" tabindex="-1" (click)="prevPage()" [disabled]="page == 0" >
                    Previous
                </button>
            </li>
            <li class="page-item">
                <button class="btn btn-primary" href="#" (click)="nextPage()"
                    [disabled]="(pokemons | filtro: page : search).length === 0">
                    Next
                </button>
            </li>
        </ul>
    </nav>
</div>